h1{font-size:1cm;
 }
 h1{background-color: gray;
    border-style:double  ;
    border-color:white ;
border-radius: 50;}


h2{font-style: italic;
background-color: grey;}

img{
margin-right: 21cm;
max-width: 100%;
}

body{background-color: black}
   p{color: white;}
   li{color: white;}
   